*{
	margin: 0;
	padding: 0;
}
body{
	background-color: rgb(21, 78, 40);
	font-family: 'Sofia Sans Semi Condensed', sans-serif;
	background-image: url(/img/background2.png);
	background-size: 100%;
}
.game-menu__btn{
	color:rgb(250, 250, 250);
	background-color: rgba(255,255,255,0.3);
	border: solid 2px rgb(142, 252, 175);
	border-radius: 10px;
	width: 400px;
	height: 100px;
	margin: 80px auto;
	font-size: 40px;
	display:flex;
	justify-content:center;
	align-items:center;
	transition: 0.5s;
}
.game-menu__btn:hover{
	background-color: rgba(255,255,255,0.9);
	color: rgb(21, 78, 40); 
	transition: 0.2s;
	font-size: 42px;
}
main{
	padding-top: 10vh;
}
.header__btn-prev{
	height: 70px;
	width: 70px;
	font-size: 50px;
	color: white;
	border: solid 2px white;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	transition: 0.5s;
	background-color: rgba(255,255,255,0.3);

}
.header__btn-prev:hover{
	background-color: rgba(255,255,255,0.9);
	color: rgb(21, 78, 40); 
	transition: 0.2s;
	font-size: 54px;
}
header{
	padding: 30px;
	display: flex;
	justify-content: flex-end;
}
.header__title{
	flex-grow: 1;
	text-align:center;
	color: white;
	font-size: 50px;
	padding-top: 5px;
}
.game-section__conteiner{
	display: flex;
	flex-direction: column;
}